body {
    align-items: center;
    display: grid;
    justify-content: center;
    place-items: center;
    padding: 80px;
    font-size:larger;
}

img{
    width:110px;
    object-fit: cover;
  }

.botao {
    padding:  10px;
    width: 150px;
    height: 50px;
    margin: 10px;
    background-color: #F7B82B;
    color: #ffff;
    border: 1px solid #F7B82B;
    border-radius: 9px;
    box-shadow: 0 0 1em black;
    font-size:20px;
}

.text1 {
    color: #a028d8;
    font-size: 120%;
}

.text2 {
    color: #F7B82B;
    font-size: 110%;
}

input[type=text] {
    color: #ffff;
    width: 300px;
    height: 30px;
    padding: 10px;
    margin: 15px ;
    background-color: #a028d8;
    border-radius: 15px;
    border: 1px solid #F7B82B;
    font-size: 15px;
    box-shadow: 0 0 1em black;
}

input::placeholder {
    color: #ffff;
}